.button {
  background-color: $basic-black;
  color: $basic-white;
  border: none;
  width: 100%;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  padding: 12px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $btn_blue_hover;
  }

  &:active {
    background-color: $btn_blue_active;
  }
}