.details {
  @include reset;
  padding-top: 28px;
  margin-bottom: 38px;
  grid-column: 1/-1;
  border-top: 1px solid $bg_light_gray;

  @media (min-width: $tablet_width) {
    margin-top: 10px;
    margin-bottom: 38px;
    padding-top: 19px;
  }

  @media (min-width: $desktop_width) {
    padding-top: 26px;
    margin-bottom: 71px;
  }
}

.details__title {
  margin-bottom: 6px;
}

.details__text {
  margin: 0;
  margin-bottom: 7px;
}

.details__structure {
  margin: 0;
  color: $basic_gray;
}