.header {
  position: relative;
}

.header__logo {
  display: block;
  margin-bottom: auto;
}

.header__logo img {
  width: 65px;
  height: 38px;

  @media (min-width: $desktop_width) {
    width: 94px;
    height: 53px;
  }
}
