.main__title {
  margin: 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

.main__subtitle {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: $basic_gray;
  text-transform: uppercase;
}