.size {
  @include reset;
  margin-bottom: 33px;

  @media (max-width: $mobile_width) {
    grid-column: 1/-1;
  }

  @media (min-width: $tablet_width) {
    margin-bottom: 0
  }
}

.size__wrapper {
  @media (min-width: $tablet_width) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 75%;
    justify-content: space-between;
  }

  @media (min-width: $desktop_width) {
    width: 63%;
  }
}

.size__list {
  @include list-reset;
  display: flex;
  margin: 0 0 24px 0;

  @media (min-width: $desktop_width) {
    margin: 8px 0 0 9px;
  }

  input:checked + label {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid $basic_black;
    font-size: 28px;
    line-height: 24px;
    color: $basic_black;

    @media (min-width: $desktop_width) {
      width: 32px;
      height: 32px;
      font-size: 20px;
      line-height: 24px;
    }
  }

  input:disabled + label {
    color: $bg_light_gray;
  }

  input:disabled + label {
    border: none;
  }
}

.size__label {
  width: 22px;
  height: 45px;
  margin-right: 19px;
  background-color: transparent;
  font-size: 20px;
  line-height: 24px;
  color: $basic_gray;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: size ease 0.3s;

  @media (min-width: $desktop_width) {
    font-size: 16px;
    width: 15px;
    height: 32px;
    margin-right: 15px;
  }

  &:hover {
    border-radius: 50%;
    border: 1px solid $basic_gray;
    width: 48px;
    height: 48px;

    @media (min-width: $desktop_width) {
      width: 32px;
      height: 32px;
    }
  }
}

.size__link {
  width: 93px;
  padding: 2px 12px 0;
  display: block;
  color: $light_brown;
  border-radius: 24px;
  border: 1px solid $light_brown;

  @media (min-width: $tablet_width) {
    margin-top: 7px;
  }
}
