.subscribtion__item--gender {
  margin-bottom: 32px;

  @media (min-width: $tablet_width) {
    display: flex;
  }
}

.subscribtion__title {
  margin: 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;

  @media (min-width: $tablet_width) {
    margin: 0;
    font-size: 32px;
    line-height: 39px;
  }
}

.subscribtion__desc {
  margin: 0;
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 28px;
  width: 88%;
  color: $basic_gray;

  @media (min-width: $tablet_width) {
    font-size: 20px;
    line-height: 32px;
  }
}

.subscribtion__form {
  ul {
    @include list-reset;
  }

  input {
    border: none;
    background-color: $bg_light_gray;
    color: inherit;
    width: 100%;
    line-height: 40px;
    margin-bottom: 12px;
    padding: 4px 16px;

    @media (min-width: $tablet_width) {
      padding: 1px 16px 1px;
      margin-bottom: 17px;
    }
  }
}

.subscribtion__label {
  margin: 0;
  font-size: 20px;
  line-height: 32px;
  color: $basic_gray
}

.subscribtion__gender {
  display: flex;
  align-items: center;
  width: 167px;
  padding-left: 28px;

  @media (min-width: $tablet_width) {
    padding-left: 53px;
  }

  label {
    margin-right: 52px;
  }
}

.subscribtion__item--check {
  display: flex;
  justify-content: flex-start;
  padding-left: 28px;
  margin-bottom: 16px;
  width: 100%;
}