$basic_white: #ffffff;
$basic_black: #192B3F;
$basic_gray: #8A94A6;
$bg_light_gray: #E1E6ED;
$light_brown: #C9B8A8;
$dark_blue: #3D5876;
$btn_blue_hover: #2E4055;
$btn_blue_active: #3B536D;

$mobile_width: 320px;
$tablet_width: 720px;
$desktop_width: 1360px;

$tablet_max_width: 1359px;